############################
# Node / Frontend
############################
node_modules/
dist/
dist-ssr/
build/
.env
.env.local
*.local

############################
# Java / Spring Boot
############################
backend/target/
backend/build/
HELP.md

############################
# Maven
############################
.mvn/wrapper/maven-wrapper.jar

############################
# Logs
############################
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

############################
# IDEs / OS
############################
.idea/
.vscode/
.DS_Store
*.iml
*.ipr
*.iws
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.classpath
.project
.settings
.factorypath
.springBeans
.sts4-cache
.nb-gradle/
nbproject/
